.slideshow {
  display: flex;
  flex-flow: column;
  align-items: center;
}

.button-container {
  display: flex;
  flex-flow: row;
}

img {
  height: 300px;
  width: 300px;
}

.slideshow-button {
  background-color: black;
}

.slideshow-button img {
  height: 50px;
  width: 50px;
}

.slideshow-button:hover {
  background-color: gray;
}

.slideshow {
  margin-top: 2rem;
}

.slideshow .project-images {
  border-style: ridge;
  border-color: white;
  border-width: 0.5rem;
  border-radius: 5px;
}

@media only screen and (max-width: 768px) {
  .button-container {
    margin: 0rem 0 0 0;
  }
}
