.slideshow-container {
  display: flex;
  flex-flow: column;
  align-items: center;
}

.slideshow-image-column {
  display: flex;
  flex-direction: column;
}

.slideshow-links-row {
  flex-direction: row;
}

.slideshow-container a {
  font-size: 0.8rem;
  margin-left: 1.3rem;
  font-family: "Raleway";
}

.slideshow-project-card {
  display: flex;
  flex-direction: row;
  border-style: solid;
  background-color: white;
  border-radius: 10px;
  box-shadow: 10px 10px #d3d3d3;
  margin-top: 2rem;
  margin-bottom: 1rem;
  padding-right: 1rem;
  padding-bottom: 1rem;
  height: 150px;
  width: 350px;
}
.slideshow-container img {
  margin: 1rem;
  height: 100px;
  width: 100px;
}

.button-container {
  display: flex;
  flex-flow: row;
}

.slideshow-button {
  background-color: black;
  margin: 1rem;
}

.slideshow-button img {
  height: 30px;
  width: 30px;
}

.slideshow-button:hover {
  background-color: gray;
}

.slideshow .project-images {
  border-style: ridge;
  border-color: white;
  border-width: 0.5rem;
  border-radius: 5px;
}

@media only screen and (max-width: 768px) {
  .button-container {
    margin: 0rem 0 0 0;
  }
}
