.projects-section {
  height: 100vh;
  display: flex;
  flex-direction: column;
  background-image: url(../../assets/images/projects-background.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-color: white;
}

.project-button-container {
  padding-top: 6rem;
  display: flex;
  justify-content: center;
}

.project-button-grid {
  margin-right: 3rem;
}

.project-button-slideshow {
  margin-left: 3rem;
}

@media only screen and (max-width: 768px) {
  .projects-section {
    height: 205vh;
    padding-bottom: 1rem;
    background-size: cover;
    background-position: center;
  }
  .projects-slideshow-section {
    padding-top: 1rem;
  }

  .projects-grid-section {
    padding-top: 1rem;
  }
}
