.nurse-story {
  display: flex;
  flex-direction: row;
  justify-content: center;

  /* grid-template-columns: repeat(2, 1fr); */
  /* background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url(../../assets/images/DSC01722.JPG); */
}

.nurse-container {
  background-color: white;
}

.work-container {
  display: flex;
  margin: 1rem 0 1rem 0;
  flex-direction: row;
}

.big-font {
  color: blue;
}
.education-container {
  display: flex;
  margin: 1rem 0 1rem 0;
  flex-direction: row;
}

.education-container p {
  margin-block-start: 0rem;
  margin-left: 1rem;
}

.work-container p {
  margin-block-start: 0rem;
  margin-left: 1rem;
}

.nurse-story img {
  height: 60px;
  width: 60px;
}

/* .nurse-box-container {
  background-color: black;
  border-style: solid;
  border-color: white;
  padding: 0rem 1rem 0rem 1rem;
  border-radius: 7px;
  width: 50%;
} */

.nurse-box-container li {
  font-size: 1rem;
  color: white;
}

.nurse-box-container ul {
  color: white;
  font-size: 1rem;
}

@media only screen and (max-width: 768px) {
  .education-container {
    margin: 1rem 0 0 2rem;
  }

  .work-container {
    margin: 1rem 0 0 2rem;
  }

  .nurse-story {
    flex-direction: column;
    align-items: flex-start;
  }
  .nurse-story h1 {
    font-size: 1rem;
    margin: 1rem 0 0 2rem;
  }

  .nurse-story p {
    font-size: 1rem;
    margin-block-start: 0rem;
    margin: 0 0 0 1rem;
  }

  .nurse-story img {
    height: 60px;
    width: 60px;
  }
}
