.nurse-story {
  display: flex;
  flex-direction: row;
  justify-content: center;

  /* grid-template-columns: repeat(2, 1fr); */
  /* background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url(../../assets/images/DSC01722.JPG); */
}

.nurse-container {
  background-color: white;
}

.work-container {
  display: flex;
  margin: 1rem 0 1rem 0;
  flex-direction: row;
}

.big-font {
  color: blue;
}
.education-container {
  display: flex;
  margin: 1rem 0 1rem 0;
  flex-direction: row;
}
.nurse-story img {
  height: 60px;
  width: 60px;
}

/* .nurse-box-container {
  background-color: black;
  border-style: solid;
  border-color: white;
  padding: 0rem 1rem 0rem 1rem;
  border-radius: 7px;
  width: 50%;
} */

.nurse-box-container li {
  font-size: 1rem;
  color: white;
}

.nurse-box-container ul {
  color: white;
  font-size: 1rem;
}

@media only screen and (max-width: 768px) {
  .nurse-box-container {
    grid-row-start: 2;
    width: 100%;
    height: 100%;
  }

  .nurse-story {
    align-content: end;
    grid-template-rows: repeat(1, 1fr);
  }

  .nurse-box-container li {
    font-size: 0.8rem;
    color: white;
  }

  .nurse-box-container ul {
    color: white;
    font-size: 0.8rem;
  }
}
