.grid-container {
  height: 75vh;
  width: 100vw;
  max-width: 100%;
  padding-top: 2rem;
  display: grid;
  justify-items: center;
  align-items: end;
  grid-template-columns: repeat(3, 1fr);
}

.grid-container img {
  border-style: ridge;
  border-color: white;
  border-width: 0.5rem;
  border-radius: 5px;
}

@media only screen and (max-width: 768px) {
  .grid-container {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
  }
}
