.about-section {
  height: 100vh;
  flex-direction: column;
  display: flex;
  background-image: url(../../assets/images/about-background.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.about-button-container {
  padding-top: 6rem;
  justify-content: space-evenly;
  display: flex;
  flex-flow: row;
  margin: 3rem 0 1rem 0;
}

.profile-pic {
  margin: 1rem 0 1rem 0;
  border-radius: 50%;
  border-color: black;
  border-style: solid;
}

.about-section p {
  /* margin: 0 5rem 0 5rem; */
  text-align: justify;
  color: black;
}
.profile-container {
  display: flex;
  flex-direction: column;
  background-color: orange;
  width: 50%;
  align-items: center;
}

@media only screen and (max-width: 768px) {
  .about-section {
    background-image: url(../../assets/images/mobile-about.jpg);
  }

  .about-button-container {
    padding-top: 1rem;
  }
  .about-button-container button {
    font-size: 1rem;
  }
}
