.developer-story {
  height: 80%;
  background-size: contain;
  background-repeat: no-repeat;
  background-image: url(https://cdn2.vectorstock.com/i/1000x1000/12/26/developer-standing-with-laptop-and-pointing-with-vector-21721226.jpg);
}
