.developer-story {
  height: 75vh;
  width: 100vw;
  max-width: 100%;
  padding-top: 2rem;
  display: grid;
  justify-items: center;
  grid-template-columns: repeat(2, 1fr);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url(../assets/images/DSC01804.JPG);
}

.front-end-container {
  background-color: white;
}
.back-end-container {
  background-color: white;
}

.tests-container {
  background-color: white;
}
.tools-container {
  background-color: white;
}

.utilities-container {
  background-color: white;
}

.methods-container {
  background-color: white;
}
