.developer-story {
  height: 75vh;
  width: 100vw;
  max-width: 100%;
  padding-top: 2rem;
  display: grid;
  justify-items: center;
  grid-template-columns: repeat(2, 1fr);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url(../assets/images/DSC01804.JPG);
}

.box-container {
  background-color: black;
  border-style: solid;
  border-color: white;
  padding: 0 2rem 0 2rem;
  border-radius: 7px;
}

.box-container p {
  font-size: 0.8rem;
}

.box-container h3 {
  color: white;
}
