.gamer-story {
  height: 80%;
  background-size: contain;
  background-repeat: no-repeat;
  background-image: url(https://www.dhresource.com/0x0/f2/albu/g6/M00/24/65/rBVaSFsPkG-ABNFhAACOkSOzmlE435.jpg);
}
