.gamer-story {
  height: 75vh;
  width: 100vw;
  max-width: 100%;
  padding-top: 2rem;
  display: grid;
  justify-items: center;
  align-items: end;
  grid-template-columns: repeat(2, 1fr);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url(../assets/images/DSC01832.JPG);
}

.gamer-container {
  background: white;
  grid-column-start: 2;
}
