.grid-container {
  height: 75vh;
  width: 100vw;
  max-width: 100%;
  padding-top: 2rem;
  display: grid;
  justify-items: center;
  align-items: end;
  grid-template-columns: repeat(3, 1fr);
}

.white-text {
  color: white;
}
