.landing-page {
  height: 100vh;
  width: 100vw;
  max-width: 100%;
  background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcSZBp8wppyn4adbT9yrRHvD2p_ETKW_FikElCWpdxJs1mDtXvTm);
  background-repeat: no-repeat;
  background-size: cover;
}
