.my-story {
  height: 80%;
  background-size: contain;
  background-repeat: no-repeat;
  background-image: url(https://image.shutterstock.com/image-photo/portrait-standing-man-formal-suit-260nw-39952150.jpg);
}
