.nav-bar-section {
  position: sticky;
  top: 0;
  bottom: 50%;
  display: flex;
  flex-flow: row;
  align-items: center;
  justify-content: space-evenly;
  background-color: black;
  z-index: 1;
  color: white;
  width: 50%;
}

.landing-a {
  transition-property: transform, font-size;
  transition-duration: 0.5s;
}

.landing-a:link {
  color: white;
}
.landing-a:visited {
  color: white;
}
.landing-a:hover {
  font-size: 1.5rem;
  transform: skewX(-20deg);
  color: white;
}
