.nurse-story {
  height: 80%;
  background-size: contain;
  background-repeat: no-repeat;
  background-image: url(https://c8.alamy.com/comp/HRNFCN/handsome-young-male-nurse-isolated-on-white-full-length-HRNFCN.jpg);
}
