.singleproject-section {
  margin-top: 2rem;
  display: flex;
  flex-flow: column;
  align-items: center;
}

.singleproject-section img {
  height: 300px;
  width: 500px;
}
.anchors {
  display: flex;
  flex-flow: row;
  justify-content: space-evenly;
}

.anchors a {
  margin: 0rem 1rem 0rem 1rem;
}
