/* .developer-story {
  height: 75vh;
  width: 100vw;
  max-width: 100%;
  padding-top: 2rem;
  display: flex;
  justify-items: center;
} */

/* .box-container {
  background-color: black;
  border-style: solid;
  border-color: white;
  padding: 1rem 1rem 0rem 1rem;
  border-radius: 7px;
  width: 50%;
} */

.box-container p {
  font-size: 0.8rem;
}

.box-container h3 {
  color: white;
}

.box-container img {
  height: 60px;
  width: 60px;
}

.icon-container {
  display: grid;
  margin: 3rem 1rem 1rem 2rem;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  column-gap: 10px;
  row-gap: 50px;
}

@media only screen and (max-width: 768px) {
  .box-container img {
    height: 15px;
    width: 15px;
    margin: 3px;
  }

  .box-container {
    padding: 0rem 0rem 0.5rem 0rem;
    border-radius: 7px;
    width: 50%;
    text-align: center;
  }

  .developer-story {
    align-content: end;
  }
  .icon-container {
    display: flex;
    margin: 0.5rem 0 0 0;
    flex-flow: row wrap;
    justify-content: center;
  }
}
